/* Globale styles her */

html {
  font-family: var(--font-lato);
}

h1,
h2,
h3 {
  font-family: var(--font-cabin);
}


/*Layout of whole page */
    body {
      margin: 0;
      display: grid;
      grid-template-columns: 
      [full-start]1fr 
      [content-start]minmax(0, 1200px) [content-end] 
      1fr[full-end];

      > * {
        display: grid;
        grid-column: content;
      }

      > .full-bleed {
        grid-column: full-start / full-end;

        > * {
        grid-column: content;
      }
      }
    }

    header,
    footer,
    .full-bleed {
      grid-template-columns: subgrid;
      grid-column: full-start / full-end;

      > * {
        grid-column: content;
      }
    }
