:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: oklch(86.802% 0.15245 86.736);
  --color-green-400: oklch(87.98% 0.12284 144.481);
  --color-neutrals-50: oklch(98.463% 0.00181 249.248);
  --color-neutrals-200: oklch(94.496% 0.00638 255.744);
  --color-neutrals-900: oklch(12.964% 0.02739 261.707);
  --color-neutrals-700: oklch(48.929% 0.02523 268.183);
  --color-blue-700: oklch(20.992% 0.03416 263.451);
  --color-blue-700-transparent: oklch(20.992% 0.03416 263.451 / 0.9);
  --color-green-600: oklch(69.555% 0.179 143.371);
  --color-neutrals-100: oklch(98.463% 0.00181 249.248);
  --color-neutrals-400: oklch(70.708% 0.02244 261.79);
  --color-yellow-600: oklch(84.534% 0.15855 85.306);

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* SPACING */
--section-block-spacing: 100px;
--under-h1-spacing: 16px;
--separate-divs-spacing: 60px;
/* padding-inline: min(3rem, 5%); */

/* ==== Typography ==== */
  --step--1: clamp(0.89rem, 0.86rem + 0.16vw, 1rem);
  --step-0: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  --step-1: clamp(1.25rem, 1.12rem + 0.6vw, 1.5rem);
  --step-2: clamp(1.56rem, 1.3rem + 1.2vw, 2rem);

  --space-s: clamp(0.75rem, 0.7rem + 0.2vw, 0.9rem);
  --space-m: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
  --space-l: clamp(1.5rem, 1.3rem + 0.8vw, 2rem);


/* ==== Border Radii ==== */

}
